@using Microsoft.EntityFrameworkCore;
@using System.Linq;
@using eBayPulse.Tools;
@{
    var items =  eBayPulse.Models.DBConnector.getConnection().context.Item.Include(c => c.Pulses);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebeBayPulse</title>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/project.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="messageeBayPulseForm">
                <div class="heading">
                    <h1>eBayPulse</h1>
                </div>
                <div class="meassaging">
                        <div class="input-group">
                            <input type="text" class="form-control" id="message" placeholder="Item link">
                            <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" id="btnGetItem">Add</button>
                            </span>
                        </div>
                        <div class="form-group">
                            <ul class="list-group" id="ItemsList">
                                
                               
                            </ul>
                            <div class="table-responsive">
                                <table class="table" id="ItemsTable">
                                    <thead>
                                        <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Time</th>
                                        <th>Views</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        @foreach (var item in items)
                                        {
                                            var time =  item.Pulses.LastOrDefault().Unix_Time.ConvertFromUnixTimestamp();
                                            <tr><td>@item.Id</td><td><a href="/Home/Item?eBayId=@item.eBayId.ToString()">@item.Name</a></td><td>@time</td><td>@item.Pulses.LastOrDefault().Views.ToString()</td></tr>
                                        }
                                    </tbody>
                            </table>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>        
</body>
</html>