@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebEncryptor</title>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/project.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="messageEncryptorForm">
                <div class="heading">
                    <h1>eBayPulse</h1>
                </div>
                <div class="meassaging">
                        <div class="form-group" id="message-field">
                            <label for="Message">Insert Id of your item here</label>
                            <input type="text" class="form-control" id="message" placeholder="Ваше сообщение">
                        </div>

                        <div class="form-group" id="encrypt-now">
                            <button type="submit" class="btn btn-default" id="btnEncrypt">Add</button>
                        </div>
                        <div class="form-group">
                            <textarea id="TextArea1" class="form-control" rows="5" style="max-width:100%;" cols="80" placeholder="Зашифрованные сообщения" readonly></textarea>
                        </div>
                </div>
            </div>

        </div>
    </div>        
</body>
</html>